.task {
  border: 1px solid #ccc;
  background: #fafafa;
  height: 150px;
  width: 100%;
  overflow-y: scroll;
  margin: 5px 0;
  padding-bottom: 10px;
}

.task:hover{
  color: #00838F;
  will-change: box-shadow;
  transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, .14), 0 3px 1px -6px rgba(0, 0, 0, .2), 2px 5px 3px 0 rgba(0, 0, 0, .12);
  cursor: pointer;
}

.task header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.task h3 {
  font-weight: 500;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: 22px;
  line-height: normal;
  overflow: hidden;
  width: calc(100% - 25px);
}

.task p {
  color: rgb(158, 158, 158);
  padding: 0 10px 0 10px;
  max-height: 200px;
  margin: 0;
}


.new-task {
  width: 100%;
  height: 60px;
  background-color: #EEEEEE;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  margin: 0;
  padding: 0;
}

.new-task button {
  width: 100%;
  height: 100%;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EEEEEE;
}

.new-task button:hover {
  cursor: pointer;
  opacity: 1;
  transition: 0.8ms;
}

.new-task button span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 18px;
}

.form-new-card {
  height: 100%;
  width: 100%;
  background: #fafafa;
  overflow-y: scroll;
}

.form-new-card label {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  border-bottom: 2px solid black;
}

.new-card-btns {
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-new-card input {
  width: 100%;
  font-size: 1.0em;
  background: transparent;
  border: 0;
  outline: 0;
  border-right: 1px solid black;
  border-radius: 0;
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
}

.form-new-card textarea {
  display: block;
  width: 95%;
  height: calc(100% - 55px);
  font-size: 1.0em;
  background: transparent;
  border: 0;
  outline: 0;
  border-radius: 0;
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
}

.form-card-btn:not(:disabled):hover, .task header button:hover {
  cursor: pointer;
  background-color: rgb(247, 247, 247);
}

.form-card-btn:disabled {
  opacity: 0.4;
  cursor: progress;
}

.form-card-btn, .task header button {
  background-color: transparent;
  border: 0;
  width: 25px;
  height: 25px;
  border-radius: 40%;
}

.form-card-btn svg {
  width: 15px;
  height: 15px;
}